opencv-python
numpy
PySide6
shiboken6
python-docx
PyMuPDF
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
numba
ezodf
lxml
requests
beautifulsoup4
pytest
pytest-qt
pyinstaller
matplotlib
google-generativeai
sympy
